.dateForm{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-color: rgba(0, 0, 0, .7); */
    background-color: white;
    border: var(--pink) solid 30px;
}
.close{
    height: inherit;
}
.closeDiv{
    height: 3em;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.mainForm{
    flex-basis: 90%;
    display: flex;
    flex-flow: column;
    align-items: center;
}
.dateInput{
    display: flex;
    flex-flow: column;
    align-items: stretch;
    padding: 2%;
    width: 50em;
    height: 70%;
}
.inputRow{
    display: inline-flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}
.inputRow > select, .inputRow > input{
    min-width: 20%;
    border: none;
    background-color: var(--pink);
    border-radius: .5em;
    margin: 1%;
    height: 3em;
    text-align: center;
    text-align-last: center;
    font-weight: bold;
    font-size: larger;
    color: white;
    -ms-overflow-style: none;
}
.inputRow > select::-webkit-scrollbar{
    display: none;
}
input::placeholder{
    color:white;
}
.slideIn{
    animation-name: slideIn;
    animation-duration: 1000ms;
}
.slideOut{
    animation-name: slideOut;
    animation-duration: 1000ms;
}
@keyframes slideIn{
    0% {left: -100%;}
    100% {left: 0}
}
@keyframes slideOut{
    0% {left: 0;}
    100% {left: -100%}
}